<ion-header>
  <ion-toolbar>
    <ion-title>
      Ranking Londrina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/fe.svg" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>1º Ana Maria</h2>
      <p>14.329 pts</p>
      <p>9 de 12 rotas</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/ma.svg" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>2º Carlos Eduardo</h2>
      <p>14.129 pts</p>
      <p>8 de 12 rotas</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/fe.svg" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>3º Isabela Daher</h2>
      <p>13.900 pts</p>
      <p>7 de 12 rotas</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/ma.svg" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>4º Gabriel Henrique</h2>
      <p>13.300 pts</p>
      <p>6 de 12 rotas</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/ma.svg" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>5º Felipe Henrique</h2>
      <p>12.500 pts</p>
      <p>5 de 12 rotas</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/fe.svg" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>1º Ana Maria</h2>
      <p>14.329 pts</p>
      <p>9 de 12 rotas</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/fe.svg" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>1º Ana Maria</h2>
      <p>14.329 pts</p>
      <p>9 de 12 rotas</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/fe.svg" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>1º Ana Maria</h2>
      <p>14.329 pts</p>
      <p>9 de 12 rotas</p>
    </ion-label>
  </ion-item>
</ion-content>