.inicio{
    padding-top: 10px;
    font-weight: 600;
}
.ion-class{
    display: flex;
    flex-direction: column;
}
.quando{
    font-weight: 600;
    header{
        padding-bottom: 5px;
        
    }
}