<ion-header translucent>
  <ion-toolbar>
    <ion-button (click)="close()" fill="clear">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      <ion-title>Rota do café</ion-title>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="map-card">
    <img src="assets/rota.jpg" alt="" />
  </ion-card>

  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>
      <h2>SEBRAE<ion-icon name="checkmark-circle"></ion-icon></h2>
      <h3>Av. Santos Dumont, 1335</h3>
      <p>Bairro Aeroporto, Londrina - PR</p>
    </ion-label>
  </ion-item>

  <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>
        <h2>SENAI<ion-icon name="checkmark-circle"></ion-icon></h2>
        <h3>R. Belém, 844</h3>
        <p>Centro, Londrina - PR</p>
      </ion-label>
    </ion-item>

    <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>
          <h2>SENAC</h2>
          <h3>R. Raposo Taváres, 894</h3>
          <p>Centro, Londrina - PR</p>
        </ion-label>
      </ion-item>



</ion-content>