<ion-header>
  <ion-toolbar>
    <ion-title>
      Vouchers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/von.png" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>Cervejaria Von Borstel</h2>
      <p>Codigo : ASOD13512</p>
      <p>Data : 25/09/2019</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/nyk.png" alt="" />
    </ion-avatar>
    <ion-label>
      <h2>Kyn Sushi</h2>
      <p>Responda a pesquisa para pegar seu codigo</p>
      <p>Data : 26/09/2019</p>
    </ion-label>
  </ion-item>
</ion-content>